# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*~
*.class
*.lock
*.swp
*.out
dependency-reduced-pom.xml
pom.xml.versionsBackup

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws
rebel.xml
.rebel-remote.xml.bak

# temp ignore
*.log
logs/
*.lnk
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~


# system ignore
.DS_Store
Thumbs.db
/bin
*/bin
.tern-project
